{% extends "biblio/_base_card_list.html" %}
{% load sekizai_tags %}

{% comment %}
Sources pour le scanner js :
https://scanapp.org/#reader
https://github.com/mebjas/html5-qrcode
{% endcomment %}


{% block card_title %}
    Ajouter un livre
{% endblock %}


{% block card_content_content %}

    <div class="row mb-4">
        <div class="col">

            <div style="width: 100%" id="reader"></div>

            <div class="pt-5">
                <div id="result"></div>
            </div>

            <form action="" method="POST" enctype="multipart/form-data" class="form-inline">

                {% for field in form %}
                    {{ field }}
                {% endfor %}

                {% csrf_token %}
                <button type="submit" class="btn btn-primary mb-2 ml-2">chercher</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
        {% if book %}
            {% if is_created %}
                <p>Le livre <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> a été créer avec succès</p>
            {% else %}
                <p>Le livre <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> existe déjà</p>
            {% endif %}
        {% else %}
            <p>Aucun livre trouvé avec cet ISBN</p>
        {% endif %}
        </div>
    </div>


    {% addtoblock "js" %}
        {% comment %}<script src="/static/core/js/html5-qrcode.min.js"></script>{% endcomment %}
        <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>

        <script>

            function onScanSuccess(decodedText, decodedResult) {
                // Handle on success condition with the decoded text or result.
                console.log(`Code scanned = ${decodedText}`, decodedResult);
                var input_isbn = document.getElementById("id_isbn");
                input_isbn.value = `${decodedText}`, decodedResult;
            }

            var html5QrcodeScanner = new Html5QrcodeScanner(
                "reader", { fps: 10, qrbox: 250 });
            html5QrcodeScanner.render(onScanSuccess);
        </script>
    {% endaddtoblock %}

{% endblock card_content_content %}