{% extends "biblio/_base_card_list.html" %}


{% block card_title %}
    Collections/Series
{% endblock %}

{% block card_content_content %}
    {% for serie in series %}
    <tr>
        <td class="table__image-cel">
            <a href="{{ serie.get_absolute_url }}">
                <img src="{{ serie.image }}" class="image-thumb">
            </a>
        </td>
        <td><a href="{{ serie.get_absolute_url }}">{{ serie.title }} ({{ serie.book.all.count }})</a></td>
    </tr>
    {% endfor %}
{% endblock %}
