.image-cover {
    max-width: 100%;
}

.image-thumb {
    width:100px
}

.table__image-cel {
    width: 100px;
}
.table__content-cel {
    width: 70%;
}

.form--right {
    float: right;
    margin-top: -50px;
}
